[submodule ".oh-my-zsh-custom/plugins/zsh-git-prompt"]
	path = .oh-my-zsh-custom/plugins/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule ".oh-my-zsh-custom/plugins/autoenv"]
	path = .oh-my-zsh-custom/plugins/autoenv
	url = https://github.com/horosgrisa/autoenv
[submodule ".oh-my-zsh-custom/plugins/update-git-templatedir"]
	path = .oh-my-zsh-custom/plugins/update-git-templatedir
	url = https://github.com/FBruynbroeck/update-git-templatedir.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
