[submodule "plugins/zsh-git-prompt"]
	path = plugins/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
[submodule "plugins/autoenv"]
	path = plugins/autoenv
	url = https://github.com/horosgrisa/autoenv
[submodule "plugins/update-git-templatedir"]
	path = plugins/update-git-templatedir
	url = https://github.com/FBruynbroeck/update-git-templatedir.git
